body {
  background-color: #000000;
}

.calculator {
  max-width: 30%;
  height: 600px;
  margin: 0px auto;
  background: linear-gradient(to bottom, #00b2b2, #9900cc);
  border-radius: 10px;
  box-shadow: 0px 0px 20px #000;
  display: flex;
  flex-wrap: wrap;
}

input[type="text"] {
  width: 96.4%;
  height: 50px;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: right;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #094366;
  padding-right: 10px;
  color: #fff;
}

button {
  width: 70px;
  height: 70px;
  font-size: 30px;
  margin: 10px;
  border: 1px solid #fff;
  border-radius: 30px;
  background-color: #9900cc;
  color: #fff;
  float: down;
}

button:hover {
  background-color: #cc0099;
}

.row {
  clear: both;
}

@media only screen and (max-width: 400px) {
  .calculator {
    width: 90%;
  }
}
